position{
	position: absolute;
	top: 1%;
	left: 1.7%;
}

span1{
	color: mediumpurple;
	font-size: 4vw;
}

span2{
	color: seagreen;
	font-size: 4vw;
}

span3{
	color: sienna;
	font-size: 4vw;
}

span4{
	color: mediumpurple;
	font-size: 4vw;
}

text1{
	position: absolute;
	top: 10%;
	left: 1.5%;
}

span5{
	color: #8ea5fa;
	font-size: 1.6vw;
}

span6{
	color: #9443DB;
	font-size: 1.6vw;
}

span7{
	color: #6821A7;
	font-size: 1.6vw;
}

span8{
	color: #A72197;
	font-size: 1.6vw;
}

span9{
	color: #A72197;
	font-size: 1.6vw;
}

span10{
	color: #a350d1;
	font-size: 1.6vw;
}

span11{
	color: #e23b64;
	font-size: 1.6vw;
}

span12{
	color: #0ff9b2;
	font-size: 1.6vw;
}

span13{
	color: #f641a5;
	font-size: 1.6vw;
}

span14{
	color: #7014aa;
	font-size: 1.6vw;
}

span15{
	color: #b7206e;
	font-size: 1.6vw;
}

span16{
	color: #2c6c73;
	font-size: 1.6vw;
}

span17{
	color: #a9146b;
	font-size: 1.6vw;
}

span18{
	color: #c40b3a;
	font-size: 1.6vw;
}

text2{
	position: absolute;
	top: 14%;
	left: 1.5%;
}

span19{
	color: #83004f;
	font-size: 1.6vw;
}

span20{
	color: #612bcf;
	font-size: 1.6vw;
}

span21{
	color: #cf3993;
	font-size: 1.6vw;
}

span22{
	color: #a6f9aa;
	font-size: 1.6vw;
}

span23{
	color: #4cb35b;
	font-size: 1.6vw;
}

span24{
	color: #a628ff;
	font-size: 1.6vw;
}

span25{
	color: #d180c3;
	font-size: 1.6vw;
}

span26{
	color: #cd673d;
	font-size: 1.6vw;
}

span27{
	color: #980d74;
	font-size: 1.6vw;
}

span28{
	color: #6980be;
	font-size: 1.6vw;
}

text3{
	position: absolute;
	top: 18%;
	left: 1.5%;
}

span29{
	color: #8042b4;
	font-size: 1.6vw;
}

span30{
	color: #2b8bb6;
	font-size: 1.6vw;
}

span31{
	color: #949e80;
	font-size: 1.6vw;
}

span32{
	color: #d06281;
	font-size: 1.6vw;
}

span33{
	color: #a4081b;
	font-size: 1.6vw;
}

span34{
	color: #bd6c3a;
	font-size: 1.6vw;
}

span35{
	color: #c105e3;
	font-size: 1.6vw;
}

span36{
	color: #37a1b3;
	font-size: 1.6vw;
}

span37{
	color: #af1fb1;
	font-size: 1.6vw;
}

span38{
	color: #ba75df;
	font-size: 1.6vw;
}

span39{
	color: #9367ce;
	font-size: 1.6vw;
}

span40{
	color: #be5cee;
	font-size: 1.6vw;
}

text4{
	position: absolute;
	top: 22%;
	left: 1.5%;
}

span41{
	color: #9720b9;
	font-size: 1.6vw;
}

span42{
	color: #e70445;
	font-size: 1.6vw;
}

span43{
	color: #dd3095;
	font-size: 1.6vw;
}